.hero-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.bg-web-banner{
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/webbanner.png');
    position: relative;
}
.h-80p{
    height: 80%
}

.color-black{
    color: #adadad;
}

.color-black:hover{
    color: #0a0a0a;
}

.text-active{
    color:#0a0a0a
}

.vh80{
    height: 80vh;
    width: 100%;
}

.bg-jaune{
    background-color: #fca311;
}
.bg-designdemarque{
    background-color: #eaeeee;
}
.text-64p{
    font-size: 36px;
}
.designdemarque-size{
    height: 16rem;
    width: auto;
}
@media (min-width: 768px) {

    .text-64p{
        font-size: 64px;
    }
    .designdemarque-size{
        height: 28rem;
        width: auto;
    }
}


