.hero-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.bg-web-banner{
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/webbanner.png');
    position: relative;
}
.h-80p{
    height: 80%
}

.color-black{
    color: #adadad;
}

.color-black:hover{
    color: #0a0a0a;
}
.color-dvrk{
    color: #0e1010;
}
.color-bleu{
    color: #0057FF
}
.text-active{
    color:#0a0a0a
}
.text-footer{
    color: #697270
}
.text-footer:hover{
    color: #fff
}
.bg-f9{
    background-color: #ede4ddce
}
.bg-bleu{
    background-color: #0057FF
}
.bg-bleu:hover{
    background-color: #0e4fd1
}
.text-gris{
    color: #8f8b89
}
.vh80{
    height: 80vh;
    width: 100%;
}
.bg-dark{
    background-color: #0a0a0a;
}
.bg-jaune{
    background-color: #fca311;
}
.bg-designdemarque{
    background-color: #eaeeee;
}
.bg-orange{
    background-color: #fa9134;
}
.bg-langue{
    background: url(images/langue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-64p{
    font-size: 36px;
    line-height: 30px;
}
.text-54p{
    font-size: 36px;
}
.lh-60{
    line-height: 30px
}
.designdemarque-size{
    height: auto;
    width:16rem ;
}
.h-687{
    height: 400px
}
.webtemplate{
    width: 400px;
    height: auto
}
@media (min-width: 768px) {

    .text-64p{
        font-size: 60px;
        line-height: 52px;
    }
    .text-54p{
        font-size: 48px;
    }
    .designdemarque-size{
        height: auto;
        width:28rem ;
    }
    .lh-60{
        line-height: 60px
    }
    .h-687{
        height: 687px
    }
    .webtemplate{
        width: 700px;
        height: auto
    }
}


