.hero-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.bg-web-banner{
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/webbanner.png');
    position: relative;
}
.my-navbar{
    background: #fff;
    height: 66px;
    line-height: 66px;
    width: 100%;
    position: relative;
    z-index: 6;
    top: 0;
}
.navbar-bottom{
    box-shadow: rgba(0, 0, 0, 0.048) 0 1px;
}
.h-80p{
    height: 80%
}

.color-black{
    color: #646369;
}
.color-black:hover{
    color: #2d2c30;
}

.color-black:hover{
    color: #0a0a0a;
}
.color-dvrk{
    color: #0e1010;
}
.color-dvrk-hover{
    color: #0e1010;
}
.color-sombre{
    color: #818181;
}
.color-dvrk-hover:focus{
    color: #0057FF;
}
.color-bleu{
    color: #0057FF
}
.text-active{
    color:#0a0a0a
}
.text-footer{
    color: #697270
}
.text-footer:hover{
    color: #fff
}
.text-color-blue{
    color: #2B44FF
}
.bg-white-transparent{
    background-color: #ffffffb4
}
.bg-hosting{
    background-color: #00af8a
}
.bg-f9{
    background-color: #f9fafb
}
.bg-bleu{
    background-color: #0057FF
}
.service-bg{
    background-color: #00bb77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    background-size: contain;
}
.text-gris{
    color: #8f8b89
}
.vh80{
    height: 80vh;
    width: 100%;
}
.bg-dark{
    background-color: #0a0a0a;
}
.bg-jaune{
    background-color: #fca311;
}
.bg-designdemarque{
    background-color: #eaeeee;
}
.bg-orange{
    background-color: #fa9134;
}
.bg-langue{
    background: url(images/langue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-64p{
    font-size: 36px;
    line-height: 30px;
}
.text-54p{
    font-size: 36px;
}
.text-15{
    font-size: 16px
}
.navbar-a-active::after{
    background-color: #191919!important;
    content: ''!important;
    height: 2px!important;
    left: 0!important;
    opacity: 1!important;
    position: absolute!important;
    right: 0!important;
    top: 100%!important;
    -webkit-transform: translateY(-100%)!important;
    transform: translateY(-100%)!important;
}
.text-bas-ligne a::after{
    background-color: #191919;
    content: '';
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: transform 0.15s, opacity 0.15s;
    transition: transform 0.15s, opacity 0.15s, -webkit-transform 0.15s;
}
.text-bas-ligne a:hover::after{
    opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
}
.lh-60{
    line-height: 30px
}
.designdemarque-size{
    height: auto;
    width:16rem ;
}
.h-687{
    height: 400px
}
.webtemplate{
    width: 400px;
    height: auto
}
@media (min-width: 768px) {

    .text-64p{
        font-size: 60px;
        line-height: 52px;
    }
    .text-54p{
        font-size: 48px;
    }
    .designdemarque-size{
        height: auto;
        width:28rem ;
    }
    .lh-60{
        line-height: 60px
    }
    .h-687{
        height: 687px
    }
    .webtemplate{
        width: 700px;
        height: auto
    }
}
@media only screen and (min-width: 640px){
    .hero {
        height: 395px;
    }
}
.hero {
    position: relative;
    padding-top: 38px;
    padding-bottom: 30px;
    color: #fff;
    background-color: #00af8a;
    overflow: hidden;
}
.home-icon-cloud2:first-child {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    top: 200px;
    opacity: .4;
}
.home-icon-cloud1, .home-icon-cloud2 {
    left: -100px;
    top: 80px;
    -webkit-animation: cloudTranslation 24s infinite linear both;
    animation: cloudTranslation 24s infinite linear both;
    opacity: .7;
}
.home-icon-cloud {
    position: absolute;
    margin-left: -100px;
    top: 0;
    left: 100%;
    opacity: 1;
}

.hero-title {
    padding-top: 40px;
    font-size: 35px;
    color: #fff;
    font-weight: 700
}

.hero .ap-payment-button,.hero .btn,.hero .pricing-col footer a,.pricing-col footer .hero a {
    display: inline-block;
    text-align: left;
    margin: 10px 0
}

.home {
    padding-top: 35px
}

.home .formations-last {
    margin-top: 0
}

.home-icon {
    position: absolute;
    z-index: 20;
    top: 50px;
    right: 0
}

.home-icon img {
    position: absolute;
    opacity: 0
}

.home-icon-corkssmall {
    width: 40px;
    height: 40px;
    right: 290px;
    top: 170px
}

.home-icon-corksmedium,.home-icon-corkssmall {
    opacity: 0;
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite
}

.home-icon-corksmedium {
    height: 146px;
    width: 146px;
    right: 100px;
    top: 33px
}

.home-icon-corksbig {
    height: 230px;
    width: 230px;
    right: 50px;
    top: 0;
    opacity: 0;
    -webkit-animation: rotate 7s linear infinite;
    animation: rotate 7s linear infinite
}

.home-icon-pc {
    position: absolute;
    top: 0;
    right: -30px;
    height: 235px;
    width: 402px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0
}

.home-icon-screen {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    height: 0;
    overflow: hidden;
    background: url(/assets/img/home/code.9a0ab9f259d99839a9391c4183a05430.png) repeat-y;
    opacity: 0
}

.home-icon-wireframe {
    right: 46px;
    top: 260px;
    width: 250px;
    opacity: 1
}

.home-icon-wireframecont {
    position: absolute;
    top: -60px;
    right: 0;
    width: 342px;
    height: 252px;
    overflow: hidden;
    z-index: 3
}

.home-icon-cloud {
    position: absolute;
    margin-left: -100px;
    top: 0;
    left: 100%;
    opacity: 1
}

.home-icon-cloud1,.home-icon-cloud2 {
    width: 70px;
    height: auto;
    left: -100px;
    top: 80px;
    -webkit-animation: cloudTranslation 24s infinite linear both;
    animation: cloudTranslation 24s infinite linear both;
    opacity: .7
}

.home-icon-cloud2:first-child {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    top: 200px;
    opacity: .4
}

.home-icon-cloud1 {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-duration: 26s;
    animation-duration: 26s;
    top: 20px;
    opacity: .3
}

.home-icon-cloud1:first-of-type {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 27s;
    animation-duration: 27s;
    top: 150px;
    opacity: .7
}
.z-index--20{
    z-index: 20;
}
.webdev-content{
    position: relative;
    padding-top: 38px;
    padding-bottom: 30px;
    overflow: hidden;
}
.webdev{
    position: absolute;
    margin-left: -45px;
    top: 0;
    left: 100%;
    opacity: 1;
}
.webdev-animation{
    left: -538px;
    -webkit-animation: webdevTranslation 24s infinite linear both;
    animation: webdevTranslation 24s infinite linear both;
    opacity: 1;
}
.center-img-animation{
    top: calc( 16rem / 3.5)!important
}

@-webkit-keyframes webdevTranslation {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    0% {
        -webkit-transform: translateX(146vw);
        transform: translateX(146vw)
    }
}

@keyframes webdevTranslation {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    0% {
        -webkit-transform: translateX(146vw);
        transform: translateX(146vw)
    }
}
@-webkit-keyframes cloudTranslation {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    0% {
        -webkit-transform: translateX(110vw);
        transform: translateX(110vw)
    }
}

@keyframes cloudTranslation {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    0% {
        -webkit-transform: translateX(110vw);
        transform: translateX(110vw)
    }
}

.home-icon-pc {
    -webkit-animation: home-icon-pc .7s ease-out both;
    animation: home-icon-pc .7s ease-out both
}

@-webkit-keyframes home-icon-pc {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes home-icon-pc {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.home-icon-corkssmall {
    -webkit-animation: corkssmall-enter .5s .5s ease-out forwards,corkssmall-leave .5s 4.2s ease-out forwards,rotate 5s linear infinite;
    animation: corkssmall-enter .5s .5s ease-out forwards,corkssmall-leave .5s 4.2s ease-out forwards,rotate 5s linear infinite
}

@-webkit-keyframes corkssmall-enter {
    to {
        right: 450px;
        opacity: 1
    }
}

@keyframes corkssmall-enter {
    to {
        right: 450px;
        opacity: 1
    }
}

@-webkit-keyframes corkssmall-leave {
    0% {
        right: 450px;
        opacity: 1
    }

    to {
        right: 290px;
        opacity: 0
    }
}

@keyframes corkssmall-leave {
    0% {
        right: 450px;
        opacity: 1
    }

    to {
        right: 290px;
        opacity: 0
    }
}

.home-icon-corksmedium {
    -webkit-animation: corksmedium-enter .7s .65s ease-out forwards,corksmedium-leave .7s 4.8s ease-out forwards,rotate 5s linear infinite;
    animation: corksmedium-enter .7s .65s ease-out forwards,corksmedium-leave .7s 4.8s ease-out forwards,rotate 5s linear infinite
}

@-webkit-keyframes corksmedium-enter {
    to {
        right: 267px;
        opacity: 1
    }
}

@keyframes corksmedium-enter {
    to {
        right: 267px;
        opacity: 1
    }
}

@-webkit-keyframes corksmedium-leave {
    0% {
        right: 267px;
        opacity: 1
    }

    to {
        right: 100px;
        opacity: 0
    }
}

@keyframes corksmedium-leave {
    0% {
        right: 267px;
        opacity: 1
    }

    to {
        right: 100px;
        opacity: 0
    }
}

.home-icon-corksbig {
    -webkit-animation: corksbig-enter .7s .95s ease-out forwards,corksbig-leave .7s 4.6s ease-out forwards,rotate 7s linear infinite;
    animation: corksbig-enter .7s .95s ease-out forwards,corksbig-leave .7s 4.6s ease-out forwards,rotate 7s linear infinite
}

@-webkit-keyframes corksbig-enter {
    to {
        right: -90px;
        top: 70px;
        opacity: 1
    }
}

@keyframes corksbig-enter {
    to {
        right: -90px;
        top: 70px;
        opacity: 1
    }
}

@-webkit-keyframes corksbig-leave {
    0% {
        right: -90px;
        top: 70px;
        opacity: 1
    }

    to {
        right: 50px;
        top: 0;
        opacity: 0
    }
}

@keyframes corksbig-leave {
    0% {
        right: -90px;
        top: 70px;
        opacity: 1
    }

    to {
        right: 50px;
        top: 0;
        opacity: 0
    }
}

.home-icon-screen {
    -webkit-animation: screen-enter 1s 1s ease-out forwards,screen-leave 1s 5s ease-out forwards,bgdefill 6s linear infinite;
    animation: screen-enter 1s 1s ease-out forwards,screen-leave 1s 5s ease-out forwards,bgdefill 6s linear infinite
}

@-webkit-keyframes screen-enter {
    to {
        height: 141px;
        opacity: 1
    }
}

@keyframes screen-enter {
    to {
        height: 141px;
        opacity: 1
    }
}

@-webkit-keyframes screen-leave {
    0% {
        height: 141px;
        opacity: 1
    }

    to {
        height: 0;
        -webkit-transform: translateY(140px);
        transform: translateY(140px)
    }
}

@keyframes screen-leave {
    0% {
        height: 141px;
        opacity: 1
    }

    to {
        height: 0;
        -webkit-transform: translateY(140px);
        transform: translateY(140px)
    }
}

.home-icon-wireframe {
    -webkit-animation: wireframe-enter 1s 5s ease-out forwards;
    animation: wireframe-enter 1s 5s ease-out forwards
}

@-webkit-keyframes wireframe-enter {
    0% {
        opacity: 1
    }

    to {
        top: 32px;
        opacity: 1
    }
}

@keyframes wireframe-enter {
    0% {
        opacity: 1
    }

    to {
        top: 32px;
        opacity: 1
    }
}
.tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-8 21:49:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  .bg-pan-left {
	-webkit-animation: bg-pan-left 8s alternate both;
            animation: bg-pan-left 8s alternate both;
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-8 21:52:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }